<h1>{{title}}</h1>
<p>Welcome to {{title}}</p

<div>
  <div>
    <label for="fileInput"> Upload a File </label>
    <input type="file" id="fileInput">
  </div>

  <div id="fileDisplayArea">
  </div>

  <div id="done">
    <button type="button" name="button" id="done">Done Highlighting</button>
  </div>
</div>

<script>
  window.onload = function () {
    var fileInput = document.getElementById('fileInput');
    var fileDisplayArea = document.getElementById('fileDisplayArea');
    var done = document.getElementById('done');

    fileInput.addEventListener('change', function (e) {
      var file = fileInput.files[0];
      var reader = new FileReader();

      console.log(file);

      reader.onload = function (e) {
        console.log(e);
        fileDisplayArea.innerHTML = e.target.result;
        var m = e.target.result.split('\n').join('<br />');
        fileDisplayArea.innerHTML = m;
      }

      reader.readAsText(file);

    })

    done.addEventListener('click', function (e) {
      console.log(window.getSelection().toString());
    })



  }
</script>
