
<html>
<head>
    <title>The Log Analyser</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/intro.js/minified/introjs.min.css">
    <link rel="stylesheet" href="bower_components/intro.js/themes/introjs-nassim.css">
    <style>
        .hide {
            visibility: hidden;
        }
    </style>

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Log Analyser</h1>
    </div>

    <div class="" id="fileReader">

        <div>
            <div class="row">
                <div class="col-md-3">
                    <button data-step="10" data-intro="You can start this intro anytime by clicking here"  class="btn btn-default btn-sm pull-left" type="reset" id="help" name="button" >
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Help</button>
                </div>
                <div class="col-md-offset-6 col-md-3" >
                    <button data-step="6" data-intro="Reset selected data"  class="btn btn-default btn-sm pull-right" type="reset" name="button" id="reset">
                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Reset</button>
                </div>
            </div>
            <div class="row panel" data-step="4" data-intro="Your selected key value pairs will appear here " id="keywords">

            </div>
            <div class="row">

            <div class="col-md-offset-9 col-md-3" >
                <button data-step="5" data-intro="Click this button to plot charts for your selected key value pairs."  class="btn btn-danger btn-block pull-right" type="submit" name="button" id="done">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Plot Chart</button>
            </div>
            </div>
        </div>
        <br>



            <div class="form-group">
                <input data-step="1" data-intro="Select your log file" type="file" id="fileInput">
            </div>

        <div class="input-group">
        <input data-step="7" data-intro="You can also type strings you want to search"  class="form-control" type="text" placeholder="Enter search query. Press ENTER to search" name="search" id="searchQuery" >
        <span class="input-group-btn">
        <button class="btn btn-default" id="go" type="button">Plot.</button>
      </span>




        </div>



        <hr />
        <div class="row">
            <div class="col-lg-offset-10 col-lg-2">
                <button  data-step="9" data-intro="You can save your graphs by clicking this button" class="btn btn-success btn-lg" id="save-chart">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save Chart</button>
            </div>
            </div>
        <div data-step="8" data-intro="You graphs will appear here" id="chart_div"></div>

        <hr />
        <div id="saved-charts-container">
            <h1>Saved charts</h1>
            <div id="saved-charts">
                Saved Charts will appear here
            </div>
        </div>
        <hr />

        <hr />

        <div>
            Your selected timestamp is <span class=" label label-default" id="timestamp-text-display"></span>
        </div>

        <div class="row">
        <div class="col-lg-6">
            <h1>Selected File Data:</h1></div>
            <div class="col-lg-6">
                <div class="pull-right">
                <button data-step="2"
                        data-intro="Highlight timestamp for your logs"
                        class="btn btn-primary btn-lg" id="timestamp-select" >Select Timestamp</button>

                <button data-step="3"
                        data-intro="You can highlight key-value pairs in which you are interested."
                        class="btn btn-primary btn-lg" type="submit" name="button" id="next"  >Select Key</button>
                </div>
            </div>
            </div>
    <div class="panel" id="fileDisplayArea">
    </div>
        <hr/>

</div>
</div>



<script src="superagent.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="bower_components/handlebars/handlebars.js"></script>
<script src="bower_components/axios/dist/axios.js"></script>
<script src="bower_components/intro.js/intro.js"></script>


<script src="js/gui/controller/Controller.js"></script>
<script src="js/gui/models/Model.js"></script>
<script src="js/gui/views/View.js"></script>

<script src="js/gui/templates/ChartDisplay.js"></script>
<script src="js/gui/templates/KeywordDisplay.js"></script>

<script src="js/gui/constants.js"></script>
<script src="js/gui/app.js"></script>
</body>
</html>


