<h1>{{title}}</h1>
<p>Welcome to {{title}}</p

<div>
  <div>
    <label for="fileInput"> Upload a File </label>
    <input type="file" id="fileInput">
  </div>

  <div id="fileDisplayArea">
  </div>
</div>

<script>
  window.onload = function () {
    var fileInput = document.getElementById('fileInput');
    var fileDisplayArea = document.getElementById('fileDisplayArea');

    fileInput.addEventListener('change', function (e) {
      var file = fileInput.files[0];
      var reader = new FileReader();

      console.log(file);

      reader.onload = function (e) {
        console.log(e);
        fileDisplayArea.innerHTML = e.target.result;
      }

      reader.readAsBinaryString(file);

    })
  }
</script>
