<div class="row">
   <div class="col-md-12">
      <form class="form-horizontal">
         <div class="form-group">
         	<div class="row">
            <label class="col-md-4 control-label" for="name">Username</label> 
            <div class="col-md-4"> <input id="username" name="name" type="text" placeholder="Enter username" class="form-control input-md"> </div>
            </div>

            <div class="row">
            <label class="col-md-4 control-label" for="password">Password</label> 
            <div class="col-md-4"> <input id="password" name="password" type="password" placeholder="Enter password" class="form-control input-md"> </div>
            </div>
         </div>
         <div class="form-group">
            <div class="row">
            <label class="col-md-4 control-label" for="host">Host</label> 
            <div class="col-md-4"> <input id="host" name="host" type="text" placeholder="Enter host" class="form-control input-md"> </div>
            </div>

            <div class="row">
            <label class="col-md-4 control-label" for="port">Port</label> 
            <div class="col-md-4"> <input id="port" name="port" type="text" placeholder="Enter port" class="form-control input-md"> </div>
            </div>


            <div class="row">
            <label class="col-md-4 control-label" for="file-name">Source</label> 
            <div class="col-md-4"> <input id="file-name" name="file-name" type="text" placeholder="Enter file to request" class="form-control input-md"> </div>
            </div>
         </div>
      </form>
   </div>
</div>